# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.sample

# Lib
/lib

# Assets (copied from ../functions)
/assets/function.js
